.App {
  text-align: center;
  h1 {
    font-size: 50px;
  }
}

.container {
  padding: 0 15px;

  @media (min-width: 768px) {
    max-width: 720px;
    margin: 0 auto
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }
}

.holder-btn {
  display: flex;
  justify-content: space-between;
}

.holder-brand {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  div {
    display: flex;
    flex-direction: column;
  }
}

.holder-search {
  padding: 15px 0;
  input {
    display: block !important;
    width: 100%;
  }
}

.holder-cart {
  padding: 15px 0;
  a {
      display: block;
    width: 100%;
  }

}