.App {
  text-align: center;
  h1 {
    font-size: 50px;
  }
}

.container {
  padding: 0 15px;

  @media (min-width: 768px) {
    max-width: 720px;
    margin: 0 auto
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }
}